<!DOCTYPE html>
<html>

<head>
    <title>MDA Movies</title>
     <link rel="stylesheet" type="text/css" href="../css/lib/Semantic/semantic.css">
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="../css/home.css">
     <link rel="stylesheet" type="text/css" href="../css/header.css">

</head>

<body>
    <div class="ui secondary pointing menu" id="menu">
	     <a href="" class="header item" id="name">
			<p> MDA movies</p> 
		 </a>

	     <a class="active item">
	       Home
	     </a>
	     <a class="item">
	      Tranding
	     </a>
	     <a class="item">
	      What to watch
         </a>
    <form> 
		<div class="ui  icon input">
		        <input class="prompt" type="text" placeholder="Search movies by title">
		        <i class="search link icon"></i>
		</div>
     </form>
		<div class="right menu">
		     <a class="item">
	           Sing In
		     </a>
		     <a class="item">
		      Sing Up
		     </a>
	    </div>
    </div>
 <script type="text/javascript" src="../js/nav.js"></script>
  