<%include ./partials/header%>
<div class="containr"> 
<div class="section"> 
<p>UPCOMING</p>
 <div class="movie">
 
	<div class="movie_Header"> 
 	 	 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i> 

		<p><em>12/2/16</em></p>
		<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA4NDg3NzYxMF5BMl5BanBnXkFtZTcwNTgyNzkyNw@@._V1_UY1200_CR90,0,630,1200_AL_.jpg">
	
	</div>
 
	<div class="movie_interaction">
		<a href="">	<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> </a> 
	 	<a href="">	<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> </a> 
	 	<p><em>1 hr 20 min</em></p> 

	 </div>

 	 
 

 	<div class="movie_trailer" >
 		<a href="https://www.youtube.com/embed/frdj1zb9sMY?autoplay=1&controls=0&fs=0&playsinline=1&rel=0&showinfo=0">
		<i class="fa fa-play-circle-o fa-lg" aria-hidden="true"></i>trailer </a> 





 	</div>

 

</div>
            <i class="fa fa-chevron-right fa-3x" aria-hidden="true" class="next"></i>

 
  </div>
 <div class="section">
 <p>POPULAR</p> 
<div class="movie">
 
	<div class="movie_Header"> 
 	 	 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i> 

		<p><em>12/2/16</em></p>
		<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA4NDg3NzYxMF5BMl5BanBnXkFtZTcwNTgyNzkyNw@@._V1_UY1200_CR90,0,630,1200_AL_.jpg">
	
	</div>
 
	<div class="movie_interaction">
		<a href="">	<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> </a> 
	 	<a href="">	<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> </a> 
	 	<p><em>1 hr 20 min</em></p> 

	 </div>

 	 
 

 	<div class="movie_trailer">
		<a href="">	<i class="fa fa-play-circle-o fa-lg" aria-hidden="true"></i>trailer </a> 
 	</div>


    

</div>
           <i class="fa fa-chevron-right fa-3x" aria-hidden="true" class="next"></i>

</div>
 <div class="section">
 <p>PLAYING NOW</p>
 <div class="movie">
 
	<div class="movie_Header"> 
 	 	 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
		 <i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i> 

		<p><em>12/2/16</em></p>
		<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA4NDg3NzYxMF5BMl5BanBnXkFtZTcwNTgyNzkyNw@@._V1_UY1200_CR90,0,630,1200_AL_.jpg">
	
	</div>
 
	<div class="movie_interaction">
		<a href="">	<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> </a> 
	 	<a href="">	<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> </a> 
	 	<p><em>1 hr 20 min</em></p> 

	 </div>

 	 
 

 	<div class="movie_trailer">
		<a href="">	<i class="fa fa-play-circle-o fa-lg" aria-hidden="true" class="play"></i>trailer </a> 
 	</div>


    </div>
 
</div>
 
 <div class="trailer">
 
 
<i class="fa fa-times fa-2x" aria-hidden="true" id="close"></i>
 
    <iframe  id="ytplayer" type="text/html" width="1360px" height="700px"
	src=""
	frameborder="0" allowfullscreen>  </iframe>
	            <i class="fa fa-chevron-right fa-3x" aria-hidden="true" class="next"></i>

 </div>


 
  
 </div>
 
     <script type="text/javascript" src="../js/home.js"></script>



