<h1>WElcome to register</h1>

<form method="POST"  action="/register">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="email" placeholder="email">
	<input type="username" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
 	<input type="submit">
</form>