<h1>Welcome to singin </h1>
<form method="POST" action="/signin">
	
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<input type="submit">
</form>