 <link rel="stylesheet" type="text/css" href="../css/trailer.css">
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

 <div class="trailer">
 
 
<i class="fa fa-times fa-2x" aria-hidden="true" id="close"></i>
 
  <iframe  id="ytplayer" type="text/html" width="1400px" height="780px"
	src="https://www.youtube.com/embed/<%=url%>?autoplay=1&controls=0&fs=1&playsinline=1&rel=0&showinfo=0"
	frameborder="0" allowfullscreen>  </iframe>
 
 </div>
     <script type="text/javascript" src="../js/home.js"></script>
	 <script type="text/javascript" src="../js/trailer.js"></script>

 